<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
	xmlns:context="http://www.springframework.org/schema/context">
	
 <bean id="f1" class="com.demo.model.Faculty">
   <property name="fid" value="12"></property>
   <property name="fname" value="Jaya"></property>
   <property name="skill" value="C++"></property>
 </bean>
  <bean id="faculty" class="com.demo.model.Faculty">
   <property name="fid" value="13"></property>
   <property name="fname" value="Sunita"></property>
   <property name="skill" value="Java"></property>
 </bean> 
  <bean id="c1" class="com.demo.model.Course" autowire="byName">
   <property name="cid" value="100"></property>
   <property name="cname" value="Java"></property>
   <property name="duration" value="100"></property>
  <!--  <property name="faculty" ref="f2"></property>  -->
 </bean>
  <!-- <bean id="c2" class="com.demo.model.Course">
   <property name="cid" value="101"></property>
   <property name="cname" value="C++"></property>
   <property name="duration" value="100"></property>
   <property name="faculty" ref="f1"></property> 
 </bean> -->
 </beans>